<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="com.ibm.commons.Extension">
		<service
			type="com.ibm.xsp.Library"
			class="test.logging.xsp.TestLibrary">
		</service>
	</extension>
	
	<extension point="com.ibm.commons.Extension">
		<service
			type="com.ibm.xsp.adapter.servletFactory"
			class="test.logging.xsp.servlet.TestServletFactory">
		</service>
	</extension>

</plugin>
